.titulo_dashboard{
    display: flex;
    align-self: center;
    justify-content: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 20vh;
    margin-left: 78vh;
}