.dashboard_principal{
    display: flex;
    flex-direction: column;
    
}

.carro_imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_dashboard{
    display: flex;
    align-self: center;
    justify-content: center;
    color: rgb(17, 113, 238);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.titulo_dashboard_ford{
    display: flex;
    margin-top: 10vh;
}

.caixa_todas{
    display: flex;
    
}

.caixa_info{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    border: 1px solid #b4b4b4; 
    width:230px;
    height: 150px;
    box-shadow: 1px 1px 3px;
    position: relative;
    margin-left: 20vh;
    margin-top: 15vh;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}

.caixa_info_titulo{
    display: flex;
    position: relative;
    justify-content: center;
    color: black;
    align-items: center;
    background-color: rgb(241, 245, 245);
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    font-size: 22px;
    
}

.caixa_info_texto{
    display: flex;
    position: relative;
    margin-top: 3vh;
    margin-right: 18vh;
    color:rgb(2, 61, 253);
    height: 180px;
    font-size: 35px;  
}

.caixa_info_unidade{
    display: flex;
    position: relative;
    margin-right: 20vh;
    color:rgb(163, 163, 163);
    height: 180px;
    font-size: 20px;
}

#campoSelecao{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 3vh;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
}

.tabela,th,td{
    border: 1px solid black;
    background-color: rgb(110, 110, 236);
    border-collapse: collapse;
    padding: 6px;
    text-align: center;
    width: 100%;
}

