.caixa_frente{
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid #b4b4b4; 
    border-radius: 5px;
    width:400px;
    box-shadow: 1px 1px 3px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    opacity: 90%;


}
.caixa_frente_titulo{
    color: black;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
}

.caixa_frente_texto{
    color:rgb(2, 61, 253);
    height: 300px;
}

.ranger_fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
}