body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin-top: 25vh;
}

.logo{
   display: flex;
   margin-left: 130px;
   
}

.forms{
    display: flex;

}

.titulo{
    color: #178859;
    display: flex;
    justify-content: center;
}

.fordform {
    display: block;
    width: 400px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

.botao_entrar{
    width: 430px;
    height: 26px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    
    
}
.botao_entrar:hover{
    background-color: #3487d4; 
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}


.ranger{
    width: 70%;
}