body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}

main{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    
}

.logo{
   display: flex;
   
   align-self: auto;
     
}

.logo_div{
    display: flex;
    justify-content: center;
}

.forms{
    display: flex;

    
    
}

.forms_div{
    width: 50%;
    background-color: #f7f7f7;
    
    
    
}
.forms_div_texto{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo{
    color: #32be84;
    display: flex;
    
}

.fordform {
    display: block;
    width: 400px;
    border: 1px solid #cccccc;
    border-radius: 7px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
    padding-left: 20px;    
    
}


.botao_entrar{
    width: 440px;
    height: 26px;
    border: 1px solid #9b9696;
    border-radius: 5px;
    background-color: #cbcfcd;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.botao_entrar:hover{
    background-color: #3487d4; 
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}

.txtLogin{
    display: flex;
    justify-content: end;

}

.label-input i{ 
    position: relative;
    right: -1vh;
    top: 4vh;
    

}


.ranger{
    width: 100%;
}

.ranger_img{
    width: 50%;
    display: flex;
    align-items: center;
}