<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

<main>

    <div class="forms">

        <!-- LADO ESQUERDO: IMAGEM -->
        <div class="ranger_img">
            <img class="ranger" src="./img/ranger.png" />
        </div>

        <!-- LADO DIREITO: LOGIN -->
        <div class="forms_div">

            
            <div class="logo_div">
                <img class="logo" src="./img/ford.png" width="150">
            </div>

            <!-- FORMULÁRIO LOGIN ANGULAR -->
            <div class="login-angular">
                
                <h2 class="titulo">Boas Vindas</h2>
                
                
                <input
                    
                    type="text"
                    placeholder="Usuário"
                    class="fordform"
                    [(ngModel)]="username"
                />
                <div>
                    <img class="icone_usuario" src="./img/icone_usuario.png" alt="">
                </div>
                <div>
                    <img class="icone_informacao_usuario" src="./img/icone_informacao.png" alt="">
                </div>

                <input
                    type="password"
                    placeholder="Senha"
                    class="fordform"
                    [(ngModel)]="password"
                />
                <div>
                    <img class="icone_cadeado" src="./img/icone_cadeado.png" alt="">
                </div>
                

                <!-- SWITCH LOGAR AUTOMATICAMENTE -->
                <div class="switch_auto">
                    <span class="switch-texto">Logar automaticamente</span>

                    <label class="switch">
                        <div class="switch-wrapper">
                            <input type="checkbox">
                            <span class="switch-button"></span>
                        </div>
                    </label>
                </div>
                <div>
                    <img class="icone_informacao_logar" src="./img/icone_informacao.png" alt="">
                </div>

                <!-- BOTÃO -->
                <button class="botao_entrar" (click)="login()">
                    Entrar
                </button>
                
                <p class="msg">{{ message }}</p>

            </div>
        </div>
    </div>

</main>