.botao_logout{
    display: flex;
    position: absolute;
    width: 33px;
    margin-left: 190vh;
    padding: 15px;
}

.logout a{
    width: 30px;
    
}




*{
    padding: 0px;
    margin: 0px;
}

.menu_link{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(63, 199, 63);
  display: block;
  padding: 5px 5px;
  background-color: rgb(228, 228, 228);  
}

a:hover{
    background-color: rgb(176,224,230);
    color: black;
}

.imagem_ford{
    display: block;
    padding: 5px 5px;
    width: 50%; 
}

ul{
    list-style: none;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 100;
}

.imagem_menu{
    width: 30px;
    
}

label{
    
    padding: 15px;
    position: absolute;
    z-index: 102;
}

input[type="checkbox"]{
    display: none;
    z-index: 101;
}

input[type="checkbox"]:checked ~nav{
    transform: translateX(350px);
}

nav{
    z-index: 100;
    background-color: rgb(235, 235, 235);
    width: 180px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

.icones_home{
    display: flex;
    justify-content: space-between;
}

.icone_menu_lateral{
    display: flex;
}


/*CSS da basboard*/
.dashboard_principal{
    display: flex;
    flex-direction: column;
    
}

.carro_imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_dashboard{
    display: flex;
    align-self: center;
    justify-content: center;
    color: rgb(17, 113, 238);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.titulo_dashboard_ford{
    display: flex;
    margin-top: 10vh;
}

.caixa_todas{
    display: flex;
    
}

.caixa_info{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    border: 1px solid #b4b4b4; 
    width:230px;
    height: 150px;
    box-shadow: 1px 1px 3px;
    position: relative;
    margin-left: 20vh;
    margin-top: 15vh;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}

.caixa_info_titulo{
    display: flex;
    position: relative;
    justify-content: center;
    color: black;
    align-items: center;
    background-color: rgb(241, 245, 245);
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    font-size: 22px;
    
}

.caixa_info_texto{
    display: flex;
    position: relative;
    margin-top: 3vh;
    margin-right: 11vh;
    color:rgb(2, 61, 253);
    height: 180px;
    font-size: 35px;  
}

.caixa_info_unidade{
    display: flex;
    position: relative;
    margin-right: 15vh;
    color:rgb(163, 163, 163);
    height: 180px;
    font-size: 20px;
}

#campoSelecao{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 3vh;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
}

/*--------------Tabela no FOOTER--------------*/

.tabela,th,td{
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding: 15px 10px;
    text-align: center;
    width: 198vh;
}

th{
    background-color: rgb(14, 74, 143);
    color: white;
}

td{
    border-bottom: 20px solid rgb(14, 74, 143);
}